In [ ]:
********************************************************************************************************************************

In [ ]:
# Assignment question on String
# String is provided to do all below assignment
str_text = " I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

In [ ]:
********************************************************************************************************************************

In [7]:
#Consider the above text as a string, figure out the average length of the string.

list_str = list(str_text.split())
j = 0
for i in list_str:
    j=j+len(i)
    
print ("sum of all word length in string : ",j)
print ("# of words in string : ", len(list_str))
print ("average length of word in string : ",j/len(list_str))

sum of all word length in string :  265
# of words in string :  63
average length of word in string :  4.2063492063492065

In [45]:
# Lower the text in the string.

print ("String in lower case : ",str_text.lower())

String in lower case :   i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [46]:
# Try to get the clean text removing the punctuation from the string.

import string
punc_list = set([i for i in str_text if i in string.punctuation])
str_text_list = ['' if j in punc_list else j for j in list(str_text)]         
str_text_without_punc = ''.join(str_text_list)
print ("String without Punctuation : ", str_text_without_punc)

String without Punctuation :   I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [48]:
# Extract word "Data Science" from the string.

print ("Removed word Data Science from String : ",str_text.replace("Data Science",''))

### String replacemenet need new variable after every action

Removed word Data Science from String :   I am very keen in building up my career in , but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [80]:
# Find the frequency of words used in the string.

# first remove all punctuations from the text -- leverage str_text_without_punc
# Get count of each distinct word
str_text_dis_count = [(i,list(str_text_without_punc.split()).count(i)) for i in set(list(str_text_without_punc.split())) ]
print ("frequency of words in string : ",str_text_dis_count)

### Explore more on sort vs sorted for sorting on 1st or 2nd element (explore lambda)

frequency of words in string :  [('the', 2), ('throws', 1), ('articles', 1), ('building', 1), ('few', 1), ('my', 2), ('others', 1), ('again', 1), ('Supervised', 1), ('remove', 1), ('relevant', 1), ('page', 1), ('in', 3), ('such', 1), ('qualms', 1), ('platform', 1), ('am', 1), ('very', 1), ('career', 1), ('me', 3), ('around', 1), ('were', 1), ('wrangling', 1), ('to', 3), ('but', 1), ('thousands', 1), ('of', 1), ('make', 1), ('has', 1), ('come', 1), ('sure', 1), ('keen', 1), ('Science', 1), ('good', 1), ('start', 1), ('search', 1), ('web', 1), ('from', 1), ('same', 1), ('all', 1), ('up', 1), ('are', 1), ('confused', 1), ('not', 1), ('a', 1), ('where', 1), ('I', 3), ('it', 1), ('Data', 1), ('mind', 1), ('which', 1), ('If', 1), ('provided', 1)]

In [85]:
# Fetch the words which ocuured more than once.

print ("Duplicate pairs of words : ",[i for i in str_text_dis_count if i[1] > 1])

Duplicate pairs of words :  [('the', 2), ('my', 2), ('in', 3), ('me', 3), ('to', 3), ('I', 3)]

In [56]:
# Can you change the word "Supervised" to "Unsupervised" in the string

print ("Change word \"Supervised\" to \"Unsupervised\" : ",str_text.replace("Supervised","Unsupervised"))

Change word "Supervised" to "Unsupervised" :   I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [55]:
# Splitting of the string with a dot operator(.)

print ("String splitted with a dot operator : ", list(str_text.split('.')))

String splitted with a dot operator :  [' I am very keen in building up my career in Data Science, but not sure from where to start', ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page', ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

In [86]:
# Find the words from the string which ends with "e"

# leverage string without punctuation
#print ("Words ending with \'e\' in String : ",[i for i in list(str_text_without_punc.split()) if list(i)[-1] == 'e'])
print ("Words ending with \'e\' in String : ",[i for i in list(str_text_without_punc.split()) if i.endswith('e')])

Words ending with 'e' in String :  ['Science', 'sure', 'where', 'the', 'me', 'are', 'make', 'me', 'come', 'the', 'same', 'page', 'me', 'remove', 'were']

In [57]:
# Figure out number of a's used in the string
j = 0
for i in list(str_text):
    if i == 'a':
        j = j + 1

print ("#'s of a's in String : ", j)

#'s of a's in String :  22

In [ ]:
********************************************************************************************************************************

In [ ]:
# Assignment Questions on Dictionary
# In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.

In [ ]:
********************************************************************************************************************************

In [153]:
# Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.
grocery.clear()
grocery = {
    "apple" : "0.250",
    "sugar" : "0.500",
    "rice"  : "2.500",
    "milk"  : "2.500",
    "egg"   : "1"
}
print (grocery)

{'apple': '0.250', 'sugar': '0.500', 'rice': '2.500', 'milk': '2.500', 'egg': '1'}

In [154]:
# I forgot to mention another item, 1kg of atta packet. Can you also add it ?
grocery["atta"] = "1.000"
print (grocery)

{'apple': '0.250', 'sugar': '0.500', 'rice': '2.500', 'milk': '2.500', 'egg': '1', 'atta': '1.000'}

In [155]:
# Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?
grocery["rice"] = "1.000"
print (grocery)

{'apple': '0.250', 'sugar': '0.500', 'rice': '1.000', 'milk': '2.500', 'egg': '1', 'atta': '1.000'}

In [147]:
# Can you list out all these items using a loop.
for i in grocery:
    print ("Grocery Item List : ",i)

for i in grocery:
    print ("Grocery Item List Values : ",grocery[i])

for i,j in grocery.items():
    print ("Grocery Item List & Values : ",i,j)

Grocery Item List :  apple
Grocery Item List :  sugar
Grocery Item List :  rice
Grocery Item List :  milk
Grocery Item List :  egg
Grocery Item List :  atta
Grocery Item List Values :  250g
Grocery Item List Values :  500g
Grocery Item List Values :  1Kg
Grocery Item List Values :  2.5 litres
Grocery Item List Values :  1 dozen
Grocery Item List Values :  1Kg
Grocery Item List & Values :  apple 250g
Grocery Item List & Values :  sugar 500g
Grocery Item List & Values :  rice 1Kg
Grocery Item List & Values :  milk 2.5 litres
Grocery Item List & Values :  egg 1 dozen
Grocery Item List & Values :  atta 1Kg

In [ ]:
********************************************************************************************************************************

In [ ]:
# However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.

In [ ]:
********************************************************************************************************************************

In [168]:
# Create another dictionary for pricing.
grocery_price.clear()
grocery_price = {
    "apple" : 220,
    "sugar" : 43,
    "rice"  : 45,
    "milk"  : 30,
    "egg"   : 60,
    "atta"  : 50
}
print(grocery_price)

{'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'egg': 60, 'atta': 50}

In [170]:
# Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries !
sum_cost = 0 
for i,j in grocery.items():
    sum_cost = sum_cost + (float(j)*grocery_price[i])
print ("Overall food cost : ",sum_cost)

Overall food cost :  306.5

In [ ]:
********************************************************************************************************************************

In [133]:
# Assignment Questions on List
# Listed are the top AI companies in world
AI_Companies = ['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','SenseTime']

In [ ]:
********************************************************************************************************************************

In [134]:
# Sort the list in ascending order
AI_Companies.sort()
print ("AI Companies in sorted order : ",AI_Companies)
print ("AI Companies in sorted order : ",sorted(AI_Companies))
### sort does not return the sorted list; rather, it sorts the list in place. "Sorted argument generate new list"

AI Companies in sorted order :  ['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime']
AI Companies in sorted order :  ['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime']

In [135]:
# Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list
AI_Companies.append('Nvidia')
AI_Companies.append('OpenAI')
AI_Companies.append('Qualcomm')
AI_Companies.append('Reliance')
print ("Appended list of element in list : ",AI_Companies)

Appended list of element in list :  ['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm', 'Reliance']

In [136]:
# Lower the list using List comprehension
print ("List in lower case : ",[i.lower() for i in AI_Companies])

List in lower case :  ['amazon', 'apple', 'facebook', 'google', 'hisilicon', 'microsoft', 'sensetime', 'nvidia', 'openai', 'qualcomm', 'reliance']

In [137]:
# Elimiate 'Reliance' from the list
print (AI_Companies.pop())

Reliance

In [112]:
# Extract 'Facebook', 'Google' and 'Microsoft' using a single command

In [138]:
AI_Companies = [i for i in AI_Companies if i not in ("Facebook", "Google", "Microsoft")]
print (AI_Companies)

['Amazon', 'Apple', 'HiSilicon', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm']

In [ ]:
********************************************************************************************************************************

In [ ]:
# Assignment Questions on Tuple

In [ ]:
********************************************************************************************************************************

In [172]:
# Consider the above standard price problem statement and place the prices in the form of the tuple
grocery_price_tuple =(220, 43,45,30,60,50)
print ("grocery price in tuple : ",grocery_price_tuple)

(220, 43, 45, 30, 60, 50)

In [182]:
# Find out the min and max price among them.
print ("Min of tuple grocery %s",min(grocery_price_tuple), "and Max of tuple grocery %s", max(grocery_price_tuple))

Min of tuple grocery %s 30 and Max of tuple grocery %s 220

In [173]:
# Also, convert the above "AI_companies" list to a tuple.
AI_Companies_Tuple = tuple(AI_Companies)
print ("AI Comapnies in form of tuple : ",AI_Companies_Tuple)

AI Comapnies in form of tuple :  ('Amazon', 'Apple', 'HiSilicon', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm')

In [174]:
# Combine two above tuples to a single tuple.
print ("Above two tuples in one : ",grocery_price_tuple + AI_Companies_Tuple)

Above two tuples in one :  (220, 43, 45, 30, 60, 50, 'Amazon', 'Apple', 'HiSilicon', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm')

In [181]:
# Compare the length of two tuples.
print ("Length of tuple grocery %s",len(grocery_price_tuple), "and AI Comapnies %s", len(AI_Companies_Tuple))

Length of tuple grocery %s 6 and AI Comapnies %s 7