In [1]:
print (2+3j)

(2+3j)

In [6]:
city = []
len(city)

0

In [28]:
cities = ['Mumbai', 'Delhi', 'Kolkata', 'Chennai', 'bangalore']
print(len(cities))
print (cities)
cities.sort()
print (cities)

5
['Mumbai', 'Delhi', 'Kolkata', 'Chennai', 'bangalore']
['Chennai', 'Delhi', 'Kolkata', 'Mumbai', 'bangalore']

In [8]:
print(cities[1])

Delhi

In [9]:
print (cities[:])

['Mumbai', 'Delhi', 'Kolkata', 'Chennai', 'bangalore']

In [10]:
print (cities[:3])

['Mumbai', 'Delhi', 'Kolkata']

In [11]:
print (cities[3:])

['Chennai', 'bangalore']

In [12]:
print (cities[-1])

bangalore

In [13]:
print (cities[-3])

Kolkata

In [14]:
android = ['alpha', ['beta', 'go'], 'kitkat']
print (android)

['alpha', ['beta', 'go'], 'kitkat']

In [17]:
print (android[1][1])

go

In [18]:
print (android[::2])

['alpha', 'kitkat']

In [19]:
print (android[::-1])

['kitkat', ['beta', 'go'], 'alpha']

In [20]:
android.pop()

'kitkat'

In [21]:
android.append('rasperry')

In [22]:
print (android)

['alpha', ['beta', 'go'], 'rasperry']

In [24]:
android.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [27]:
try1 = ["d", "r", "a"]
try1.sort()
print (try1)

['a', 'd', 'r']

In [29]:
name = ['Avinash', 'Aman', 'RAHUL', 'aakash', 'arjun', 'final', 'Akshay', 'ramesh', 'rakesh', 'amit']
name[-1::-1]

['amit',
 'rakesh',
 'ramesh',
 'Akshay',
 'final',
 'arjun',
 'aakash',
 'RAHUL',
 'Aman',
 'Avinash']

In [33]:
import math
list_a = [1,2,3,4]
print ([math.sqrt(a) for a in list_a])

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [35]:
    print ([math.sqrt(a) for a in [1,2,3,4]])

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [37]:
sample_dict = {'a':'Apple','b':'Banana', 'c': 'Choclate', 'd' : 'Dog'}
print (sample_dict)

{'a': 'Apple', 'b': 'Banana', 'c': 'Choclate', 'd': 'Dog'}

In [50]:
print (sample_dict['a'])
print (sample_dict.get('a'))

Apple
Apple

In [44]:
sample_dict.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [45]:
sample_dict.values()

dict_values(['Apple', 'Banana', 'Choclate', 'Dog'])

In [46]:
sample_dict.items()

dict_items([('a', 'Apple'), ('b', 'Banana'), ('c', 'Choclate'), ('d', 'Dog')])

In [51]:
sample_dict['l'] = 'Lamb'

In [52]:
print (sample_dict)

{'a': 'Apple', 'b': 'Banana', 'c': 'Choclate', 'd': 'Dog', 'l': 'Lamb'}

In [53]:
sample_dict [1] = android

In [54]:
print (sample_dict)

{'a': 'Apple', 'b': 'Banana', 'c': 'Choclate', 'd': 'Dog', 'l': 'Lamb', 1: ['alpha', ['beta', 'go'], 'rasperry']}

In [56]:
for i in sample_dict.items():
    print (i)

('a', 'Apple')
('b', 'Banana')
('c', 'Choclate')
('d', 'Dog')
('l', 'Lamb')
(1, ['alpha', ['beta', 'go'], 'rasperry'])

In [78]:
stra = R'a\nb\x1f\000d'
print (stra)
print (list(stra))
print (len(list(stra)))

a\nb\x1f\000d
['a', '\\', 'n', 'b', '\\', 'x', '1', 'f', '\\', '0', '0', '0', 'd']
13

In [83]:
x = "C:\py\code"
x

'C:\\py\\code'

In [86]:
s = 'How are you doing'
s = s[:5] + 'ab' + s[7:]
s

'How aab you doing'

In [91]:
s = s.replace('ab','re')
s

'How are you doing'

In [98]:
String_var = """ This document will help you to explore all the concepts of Python Strings!!! """
print (String_var[7:-4])

ocument will help you to explore all the concepts of Python Strings

In [99]:
print (String_var.replace('document','task'))

 This task will help you to explore all the concepts of Python Strings!!!

In [96]:
print (String_var.split(' '))

['', 'This', 'document', 'will', 'help', 'you', 'to', 'explore', 'all', 'the', 'concepts', 'of', 'Python', 'Strings!!!', '']

In [97]:
print (String_var.lower())

 this document will help you to explore all the concepts of python strings!!!

In [104]:
print (''.join(['' if j in ['"','!'] else j for j in list(String_var)]))

'''
#import re
#re.sub('[^A-Za-z0-9]+', ' ''this task will help you to explore all the concepts of python strings!!!')

#for k in string_var.split("\n"):
#    print(re.sub(r"[^a-zA-Z0-9]+", ' ', k))

@geetha, we can use maketrans and translate
removeable_Str = String_var.maketrans('', '', '@#%!')
String_var.translate(removeable_Str)
maketrans take 3 parameters
str1 : Specifies the list of characters that need to be replaced.
str2 : Specifies the list of characters with which the characters need to be replaced.
str3 : Specifies the list of characters that needs to be deleted.

'''

 This document will help you to explore all the concepts of Python Strings

'\n#import re\n#re.sub(\'[^A-Za-z0-9]+\', \' \'\'this task will help you to explore all the concepts of python strings!!!\')\n\n#for k in string_var.split("\n"):\n#    print(re.sub(r"[^a-zA-Z0-9]+", \' \', k))\n\n@geetha, we can use maketrans and translate\nremoveable_Str = String_var.maketrans(\'\', \'\', \'@#%!\')\nString_var.translate(removeable_Str)\nmaketrans take 3 parameters\nstr1 : Specifies the list of characters that need to be replaced.\nstr2 : Specifies the list of characters with which the characters need to be replaced.\nstr3 : Specifies the list of characters that needs to be deleted.\n\n'

In [103]:
print("We have 5 pounds of Gauvas")
number = input("How many ways are we dividing the guavas?")
number = int(number)

try:
    poundsEach = 5/number
    print("Each person gets",poundsEach,"pounds of Guava")
except ZeroDivisionError:
    print(" You can't divide by zero. Try again")

We have 5 pounds of Gauvas
How many ways are we dividing the guavas?0
 You can't divide by zero. Try again

In [105]:
def sum(a,b):
    return(a+b)
print (sum(3,5))

8

In [109]:
import pandas as pd
df = pd.read_csv(r'C:\Users\ramsj\Desktop\DSB8\end to end data sets\african_crises.csv')
df.head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

In [110]:
df.describe()

,case,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises
count,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1.059000e+03,1059.000000,1059.000000,1059.000000
mean,35.613787,1967.767705,0.077432,43.140831,0.039660,0.152975,0.006402,2.084889e+04,0.776204,0.132200,0.129367
std,23.692402,33.530632,0.267401,111.475380,0.195251,0.360133,0.043572,6.757274e+05,0.416984,0.349847,0.335765
min,1.000000,1860.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.850214e+01,0.000000,0.000000,0.000000
25%,15.000000,1951.000000,0.000000,0.195350,0.000000,0.000000,0.000000,2.086162e+00,1.000000,0.000000,0.000000
50%,38.000000,1973.000000,0.000000,0.868400,0.000000,0.000000,0.000000,5.762330e+00,1.000000,0.000000,0.000000
75%,56.000000,1994.000000,0.000000,8.462750,0.000000,0.000000,0.000000,1.164405e+01,1.000000,0.000000,0.000000
max,70.000000,2014.000000,1.000000,744.306139,1.000000,1.000000,0.400000,2.198970e+07,1.000000,2.000000,1.000000

In [112]:
df.shape

(1059, 14)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 14 columns):
case                               1059 non-null int64
cc3                                1059 non-null object
country                            1059 non-null object
year                               1059 non-null int64
systemic_crisis                    1059 non-null int64
exch_usd                           1059 non-null float64
domestic_debt_in_default           1059 non-null int64
sovereign_external_debt_default    1059 non-null int64
gdp_weighted_default               1059 non-null float64
inflation_annual_cpi               1059 non-null float64
independence                       1059 non-null int64
currency_crises                    1059 non-null int64
inflation_crises                   1059 non-null int64
banking_crisis                     1059 non-null object
dtypes: float64(3), int64(8), object(3)
memory usage: 116.0+ KB

In [116]:
df = pd.read_csv(r'C:\Users\ramsj\Desktop\DSB8\end to end data sets\titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [118]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [120]:
df.shape

(891, 12)